.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 132px;
  }

  &__nav {
    margin-left: 70px;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__link {
    margin-right: 42px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding: 18px 24px 18px 63px;
    background-color: var(--green-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 29px;

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 26px;
      width: 26px;
      height: 26px;
      background-image: url(../img/phone.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
