<header class="header">
  <div class="container header__container">
    <a class="logo" href="/">
      <img src="img/logo.svg" alt="Logo">
    </a>
    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">О нашей коптильне</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Доставка и оплата</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Гарантии</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Отзывы</a>
        </li>
      </ul>
      <div class="header-contacts header-contacts--nav">
        <a class="header-contacts__link" href="tel:+78002505932">8 800 250 59 32</a>
        <button class="btn-reset header-contacts__btn">Заказать звонок</button>
      </div>
    </nav>
  </div>
</header>
