<section class="hero">
  <div class="container hero__container">
    <h1 class="main-title">Картофелесажалка <span>&laquo;уДачная&raquo;</span></h1>
    <p class="hero__subtitle">
      высадите всю картошку <span>меньше, чем за&nbsp;час!</span>
    </p>
    <ul class="list-reset hero__list">
      <li class="hero__item hero-item">
        <h3 class="hero-item__title">Пусть техника работает за&nbsp;вас</h3>
        <p class="hero-item__desc">
          Посадка картофеля ускорится до&nbsp;25&nbsp;соток в&nbsp;час и&nbsp;сбережёт время, здоровье и&nbsp;силы для чего-то действительно важного
        </p>
      </li>
      <li class="hero__item hero-item">
        <h3 class="hero-item__title">Щедрый урожай</h3>
        <p class="hero-item__desc">
          &laquo;Правильное&raquo; расстояние между клубнями и&nbsp;рядами обеспечит наилучшие условия для роста картошки
        </p>
      </li>
      <li class="hero__item hero-item">
        <h3 class="hero-item__title">Практичность во&nbsp;всём</h3>
        <p class="hero-item__desc">
          Подходит для любой почвы и&nbsp;для любого размера клубней
        </p>
      </li>
      <li class="hero__item hero-item">
        <h3 class="hero-item__title">Сплошные выгоды</h3>
        <p class="hero-item__desc">
          Получите приятные подарки к&nbsp;своей покупке
        </p>
      </li>
    </ul>
    <div class="hero-buy">
      <div class="hero-buy__prices">
        <span class="hero-buy__price hero-buy__price--old">7 990 РУБ.</span>
        <span class="hero-buy__price hero-buy__price--now">7 990 РУБ.</span>
      </div>
      <button class="btn-reset btn hero__btn">Заказать</button>
    </div>
  </div>
</section>
